<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Page</title>
</head>
<body>
    <h1>Welcome, User!</h1>
    <p>Facts on dogs:</p>

    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    
    {% if url %}
        <img src="{{ url }}" alt="Image of a dog" height="500" width="500">
    {% else %}
        <p>Image URL not available.</p>
    {% endif %}
</body>
</html>
